// 验证码容器

// display: 'flex',
// alignItems: 'center',
// justifyContent: 'center',
// marginLeft: '12px',
// cursor: 'pointer',

.captcha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;

  .img {
    background-color: #fff;
    border: 1px solid #ccc;

    // hover
    &:hover {
      border: 1px solid #1890ff;
    }
  }
}
